<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OTIZ_Tabel.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OTIZ_Tabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OTIZ_Tabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OTIZ_Tabel.Settings>
            <setting name="df" serializeAs="String">
                <value />
            </setting>
        </OTIZ_Tabel.Settings>
        <OTIZ_Tabel.Properties.Settings>
            <setting name="NormalCol" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ComConnectionString" serializeAs="String">
                <value>Srvr="stm07";Ref="v8-konstr-zup";</value>
            </setting>
            <setting name="LastDate" serializeAs="String">
                <value>07/31/2020 23:59:00</value>
            </setting>
            <setting name="LastRow" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FIOCol" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HolidayCol" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="NightCol" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FirstDate" serializeAs="String">
                <value>2020-07-01</value>
            </setting>
            <setting name="FirstRow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CodeCol" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>БакшееваТС</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ComConnectionStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Srvr="stm07";Ref="v8-konstr-zup";</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Preload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebConnectionString" serializeAs="String">
                <value>http://172.17.170.5/v8-konstr-zup/ws/Tabel.1cws</value>
            </setting>
            <setting name="WebConnectionStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://172.17.170.5/v8-konstr-zuptest/ws/Tabel.1cws</string>
                        <string>http://172.17.170.5/v8-konstr-zup/ws/Tabel.1cws</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>0</value>
            </setting>
        </OTIZ_Tabel.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <OTIZ_Tabel.Properties.Settings>
            <setting name="OTIZ_Tabel_WebReference_Tabel" serializeAs="String">
                <value>http://172.17.170.5/v8-konstr-zup/ws/Tabel.1cws</value>
            </setting>
        </OTIZ_Tabel.Properties.Settings>
    </applicationSettings>
</configuration>
